@import "tailwindcss";

@theme {
  --animate-move-shape: moveShape 4s ease-in infinite alternate;
  --animate-move-shape2: moveShape2 6s ease-in-out infinite alternate;
  --animate-move-shape3: moveShape3 5s ease-in-out infinite alternate;
}

@keyframes moveShape {
  0% {
    transform: skewY(-12deg) translate(0, 0);
  }
  100% {
    transform: skewY(-12deg) translate(450px, -70px);
  }
}

@keyframes moveShape2 {
  0% {
    transform: skewY(-12deg) translate(0, 0);
  }
  100% {
    transform: skewY(-12deg) translate(750px, -70px);
  }
}

@keyframes moveShape3 {
  0% {
    transform: skewY(-12deg) translate(0, 0);
  }
  100% {
    transform: skewY(-12deg) translate(750px, -70px);
  }
}


.frances{
  font-family: "Fraunces", serif;
}