@import "tailwindcss";

@theme {
  --animate-move-shape: moveShape 3s ease-in infinite alternate;
}

@keyframes moveShape {
  0% {
    transform: skewY(-12deg) translate(0, 0);
  }
  100% {
    transform: skewY(-12deg) translate(450px, -70px);
  }
}
@theme {
  --animate-move-shape2: moveShape2 3s ease-in-out infinite alternate;
}

@keyframes moveShape2 {
  0% {
    transform: skewY(-12deg) translate(0, 0);
  }
  100% {
    transform: skewY(-12deg) translate(750px, -70px);
  }
}
@theme {
  --animate-move-shape3: moveShape3 3s ease-in-out infinite alternate;
}

@keyframes moveShape3 {
  0% {
    transform: skewY(-12deg) translate(0, 0);
  }
  100% {
    transform: skewY(-12deg) translate(750px, -70px);
  }
}